// color variables declare
$header-bgcolor: #f5b0e6;
$main-bgcolor: rgb(221, 221, 158);
$footer-bgcolor: #8cb0b3;

// font size variables
$paragraph-fontsize: 18px;
$h2-fontsize: 26px;
$h4-fontsize: 20px;